services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./mariadb_data:/var/lib/mysql
    networks:
      - inception_network
    restart: unless-stopped
  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
    volumes:
      - ./wordpress_data:/var/www/html
    networks:
      - inception_network
    restart: unless-stopped
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "8080:80"
    depends_on:
      - wordpress
    networks:
      - inception_network
    volumes:
      - ./wordpress_data:/var/www/html

volumes:
  mariadb_data:
  wordpress_data:
  secrets:

networks:
   inception_network:
     driver: bridge
