services:
  mariadb:
    build: ./requirements/mariadb
    container_name: inception_mariadb
    environment:
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - mariadb_data:/home/houssam/data
    networks:
      - inception_network
    restart: unless-stopped
  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DB_NAME: ${DB_NAME}
    volumes:
      - ./wordpress_data:/var/www/html
    networks:
      - inception_network
    restart: unless-stopped
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ../secrets:/etc/nginx/conf

volumes:
  mariadb_data:
  wordpress_data:
  secrets:

networks:
   inception_network:
     driver: bridge
